<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Entrancecaoch.com is an online entrance coaching platform for Medical NEET (UG), Engineering IIT JEE Main, JEE Advanced, Class 6 to 12, NTSE, KVPY Olympiad & Other Competitive Exams.">
    <meta name="author" content="entrancecoach.com">
    <title>@ViewBag.Title - entrancecoach.com</title>
    <!-- Preloader -->
    <link href="~/Content/Site.css" rel="stylesheet" />
    @* <script>
            window.addEventListener("load", function () {
                setTimeout(function () {
                    document.querySelector('body').classList.add('loaded');
                }, 300);
            });
        </script>*@

    <!-- Favicon -->
    <link rel="icon" href="~/Theme/favicon.png" type="image/png">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Theme/assets/libs/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Theme/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" href="~/Theme/assets/libs/animate.css/animate.min.css">
    <link rel="stylesheet" href="~/Theme/assets/libs/Chosen/chosen.css" />
    <link rel="stylesheet" href="~/Theme/assets/libs/sweetalert2/dist/sweetalert2.min.css">
    <!-- Quick CSS -->
    <link rel="stylesheet" href="~/Theme/assets/quick-website.css" id="stylesheet">
</head>

<body>
    <!-- Preloader -->
    @*<div class="preloader">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>*@

    <!-- Navbar -->

    @Html.Partial("_LoginPartial")

    <!-- Main content -->
    @RenderBody()


    @Html.Partial("_LoginPartial2")

    <!-- Core JS  -->
    <script src="~/Theme/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/Theme/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Theme/assets/libs/feather-icons/dist/feather.min.js"></script>
    <script src="~/Theme/assets/jquery.validate.min.js"></script>
    <!-- Quick JS -->

    <script src="~/Theme/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="~/Theme/assets/libs/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/Theme/assets/libs/sticky-kit/dist/sticky-kit.min.js"></script>
    <script src="~/Theme/assets/libs/autosize/dist/autosize.min.js"></script>
    <script src="~/Theme/assets/libs/Chosen/chosen.jquery.js"></script>
    <script src="~/Theme/assets/libs/sweetalert2/dist/sweetalert2.min.js"></script>
    <!-- Feather Icons -->

    <script src="~/Theme/assets/quick-website.js"></script>
    <script>
        feather.replace({
            'width': '1em',
            'height': '1em'
        })
    </script>
    @RenderSection("scripts", required: false)
</body>

</html>