@model OnlineExam.DbContext.GetAllExamById_Result
@using OnlineExam.Authentication

@{
    ViewBag.Title = "Instructions";

    int time = Convert.ToInt32(Model.ExamTime);
    int min = time * 60;

}

<div class="container d-flex align-items-center text-center text-lg-left py-5 py-lg-5 border-bottom">
    <div class="col px-0">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="h4 mb-2">GENERAL INSTRUCTIONS</h2>
                <p class="lead lh-180">Please read the instructions carefully</p>
            </div>
        </div>
    </div>
</div>

<section class="slice">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">

                <div class="mb-5">
                    <h5 id="item-1">General Instructions</h5>
                    <p>1. Total duration of @Model.Name is @min min.</p>
                    <p>2. The clock will be set at the server. The countdown timer in the top right corner of screen will display the remaining time available for you to complete the examination. When the timer reaches zero, the examination will end by itself. You will not be required to end or submit your examination.</p>
                    <p>3. The Questions Palette displayed on the right side of screen will show the status of each question using one of the following symbols:</p>
                    <ol>
                        <li><img src="~/Theme/exam/QuizIcons/Logo1.png"> You have not visited the question yet.<br><br></li>
                        <li><img src="~/Theme/exam/QuizIcons/Logo2.png"> You have not answered the question.<br><br></li>
                        <li><img src="~/Theme/exam/QuizIcons/Logo3.png"> You have answered the question.<br><br></li>
                        <li><img src="~/Theme/exam/QuizIcons/Logo4.png"> You have NOT answered the question, but have marked the question for review.<br><br></li>
                        <li><img src="~/Theme/exam/QuizIcons/Logo5.png"> The question(s) "Answered and Marked for Review" will be considered for evalution.<br><br></li>
                    </ol>
                    <p>4. You can click on the ">" arrow which apperes to the left of question palette to collapse the question palette thereby maximizing the question window. To view the question palette again, you can click on "<" which appears on the right side of question window.</p>
                    <p>5. You can click on your "Profile" image on top right corner of your screen to change the language during the exam for entire question paper. On clicking of Profile image you will get a drop-down to change the question content to the desired language.</p>
                    <p>6. You can click on <img src="../../Theme/exam/QuizIcons/down.png"> to navigate to the bottom and <img src="~/Theme/exam/QuizIcons/up.png"> to navigate to top of the question are, without scrolling.</p>
                </div>


                <div class="mb-5">
                    <h5 id="item-2">Navigating to a Question</h5>
                    <p>7. To answer a question, do the following:</p>
                    <ol type="a">
                        <li>Click on the question number in the Question Palette at the right of your screen to go to that numbered question directly. Note that using this option does NOT save your answer to the current question.</li>
                        <li>Click on <strong>Save &amp; Next</strong> to save your answer for the current question and then go to the next question.</li>
                        <li>Click on <strong>Mark for Review &amp; Next</strong> to save your answer for the current question, mark it for review, and then go to the next question.</li>
                    </ol>
                </div>

                <div class="mb-5">
                    <h5 id="item-3">Answering a Question</h5>
                    <p>8. Procedure for answering a multiple choice type question:</p>
                    <ol type="a">
                        <li>To select you answer, click on the button of one of the options.</li>
                        <li>To deselect your chosen answer, click on the button of the chosen option again or click on the <strong>Clear Response</strong> button</li>
                        <li>To change your chosen answer, click on the button of another option</li>
                        <li>To save your answer, you MUST click on the Save &amp; Next button.</li>
                        <li>To mark the question for review, click on the Mark for Review &amp; Next button.</li>
                    </ol>
                    <p>9. To change your answer to a question that has already been answered, first select that question for answering and then follow the procedure for answering that type of question.</p>
                </div>

                <div class="mb-5">
                    <h5 id="item-4">Navigating through sections</h5>
                    <p>10. Sections in this question paper are displayed on the top bar of the screen. Questions in a section can be viewed by click on the section name. The section you are currently viewing is highlighted.</p>
                    <p>11. After click the Save & Next button on the last question for a section, you will automatically be taken to the first question of the next section.</p>
                    <p>12. You can shuffle between sections and questions anything during the examination as per your convenience only during the time stipulated.</p>
                    <p>13. Candidate can view the corresponding section summery as part of the legend that appears in every section above the question palette.</p>
                </div>

                <div class="mb-5">
                    <hr>
                    <article>
                        <p class="text-danger">Please note all questions will appear in your default language. This language can be changed for a particular question later on.</p>
                    </article>
                    <hr>
                </div>
                <div class="mb-5">
                    @* <article>
                            <label>
                                <input type="checkbox" id="1_ch">&nbsp;&nbsp;I have read and understood the instructions. All computer hardware allotted to me are in proper working condition. I declare  that I am not in possession of / not wearing / not  carrying any prohibited gadget like mobile phone, bluetooth  devices  etc. /any prohibited material with me into the Examination Hall.I agree that in case of not adhering to the instructions, I shall be liable to be debarred from this Test and/or to disciplinary action, which may include ban from future Tests / Examinations
                            </label>
                        </article>*@

                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                        <label class="custom-control-label" for="customCheck1">I have read and understood the instructions. All computer hardware allotted to me are in proper working condition. I declare  that I am not in possession of / not wearing / not  carrying any prohibited gadget like mobile phone, bluetooth  devices  etc. /any prohibited material with me into the Examination Hall.I agree that in case of not adhering to the instructions, I shall be liable to be debarred from this Test and/or to disciplinary action, which may include ban from future Tests / Examinations</label>
                    </div>
                </div>

                <div class="mb-5">
                    <div class="row mb-5 justify-content-center text-center">
                       

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" id="id" name="id" value="@Model.Id" />
                            <input type="hidden" id="Name" name="Name" value="@ViewBag.AttendData" />

                            if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                var identity = ((CustomPrincipal)HttpContext.Current.User);
                                <input type="hidden" id="ExGroupId" name="ExGroupId" value="@identity.UserId" />
                            }

                            <button type="button" class="btn btn-success btn-sm btn-icon" onclick="check_instruction(@Model.Id)">
                                <span class="btn-inner--text">Proceed To Exam</span>
                                <span class="btn-inner--icon">
                                    <i data-feather="arrow-right"></i>
                                </span>
                            </button>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


@section Scripts {

    <script>


        function check_instruction(id) {
            var check = $("#customCheck1").prop("checked");
            if(check == false)
            {
                Swal.fire({ title: "Warning!", text: "Please accept terms and conditions before proceeding.", type: "warning", closeOnConfirm: !0, confirmButtonText: "OK", confirmButtonClass: "btn-primary", showLoaderOnConfirm: !0 });
            }
            else
            {
                $('form').submit();
            }            
        }

    </script>
}